/* цитата (рідна) */
blockquote:not([class])
{
    border-top: 1px solid var(--gold);
    border-bottom: 1px solid var(--gold);
    padding: 30px 10px 30px 100px;
    color: var(--gray-dark);
    position: relative;
}

blockquote:not([class]):after
{
    content: '';
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230099ff'%3E%3Cpath d='M11 9.275c0 5.141-3.892 10.519-10 11.725l-.984-2.126c2.215-.835 4.163-3.742 4.38-5.746-2.491-.392-4.396-2.547-4.396-5.149 0-3.182 2.584-4.979 5.199-4.979 3.015 0 5.801 2.305 5.801 6.275zm13 0c0 5.141-3.892 10.519-10 11.725l-.984-2.126c2.215-.835 4.163-3.742 4.38-5.746-2.491-.392-4.396-2.547-4.396-5.149 0-3.182 2.584-4.979 5.199-4.979 3.015 0 5.801 2.305 5.801 6.275z'/%3E%3C/svg%3E");
}

blockquote:not([class]) > p
{
    margin: 0!important;
    font-weight: 700;
}
