/* коментар */
#comments{
    margin: 50px 0;
}

#comments h1{
    margin: 0 0 20px;
}

#comments ul,
#comments li{
    display: block;
    padding: 0;
    margin: 0;
}

#comments > ul{
    margin-left: -20px;
}

@media(max-width:540px){
    #comments > ul{
        margin-left: -10px;
    }
}

#comments li{
    margin-left: 25px;
}

@media(max-width:540px){
    #comments li{
        margin-left: 10px;
    }
}

/* 12 level */
#comments li li li li li li li li li li li li{
    margin-left: 0;
}

/* коментар */
.comment{
    margin: 0 0 30px;
    border-bottom: 1px solid var(--gray-ultralight);
}

/* венхня смуга */
.comment-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--gray-ultralight);
    margin: 0 0 20px;
    min-height: 44px;
    font-size: 12px;
}

.comment-header .comment-avatar{
    height: 44px;
}

.comment-header img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.comment-data{
    padding-left: 10px;
}

.comment-data *{
    display: block;
}

.comment-ip{
    display: none;
}

/* тіло коментаря */
.comment-message{}

.comment-message p{
    margin: 0 0 10px;
}

/* цитата */
.comment-message blockquote.comment-quote{
    padding-left: 10px;
    border-left: 2px solid var(--blue-light);
}


.comment-footer{
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* голосування */
.comment-vote{
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    overflow: hidden;
    padding: 0 5px;
    min-width: 80px;
}

/* + */
.comment-up{
    width: 9px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 24' fill='%2307a744'%3E%3Cpath d='M6.802.129l-6.709 7.637c-.211.241-.037.615.289.615h3.629c.21 0 .38.167.38.372v14.875c0 .205.169.372.379.372h4.64c.21 0 .379-.167.379-.372v-14.876c0-.205.17-.372.38-.372h3.63c.325 0 .5-.373.289-.615l-6.709-7.637c-.153-.171-.427-.171-.578.001z'%3E%3C/path%3E%3C/svg%3E");
    text-indent: -9999px;
    display: inline-block;
}

/* - */
.comment-down{
    width: 9px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 24' fill='%23cc0001'%3E%3Cpath d='M6.802.129l-6.709 7.637c-.211.241-.037.615.289.615h3.629c.21 0 .38.167.38.372v14.875c0 .205.169.372.379.372h4.64c.21 0 .379-.167.379-.372v-14.876c0-.205.17-.372.38-.372h3.63c.325 0 .5-.373.289-.615l-6.709-7.637c-.153-.171-.427-.171-.578.001z'%3E%3C/path%3E%3C/svg%3E");
    text-indent: -9999px;
    display: inline-block;
    transform: rotate(180deg);
}

/* sum */
.comment-result{
    padding: 0 5px;
}

/* від'ємний */
.comment-result.red{
    color: var(--red);
}

.comment-result.red::before{
    content: '-';
}

/* позитивний */
.comment-result.green{
    color: var(--green);
}

.comment-result.green::before{
    content: '+';
}

/* прокоментувати? */
.to-comment{
    padding: 3px 10px;
    border-radius: 5px;
    background: var(--gray-ultralight);
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    color: var(--gray);
    line-height: 24px;
    position: relative;
    transition: .3s;
}

.to-comment:hover{
    background: var(--green);
    color: var(--white);
    /* text-decoration: none; */
}

.to-comment::before{
    content: 'відповісти';
}

.to-comment.active::before{
    content: 'не відповідати';
}

.to-comment.active{
    background: var(--cyan-light);
    color: var(--white);
}


/* велика форма */
#comments-form{
    padding: 50px 0 0;
}

#comments-form form{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 120px auto;
    grid-gap: 10px;
    grid-template-areas: 
        'comment-avatar comment-textarea'
        'comment-avatar comment-button'
}

@media(max-width:540px){
    #comments-form form{
        grid-template-columns: 60px auto;
    }
}

#comments-form textarea{
    width: 100%;
    resize: none;
    padding: 5px;
    min-height: 60px;
    grid-area: comment-textarea;
}

#comments-form .comment-send{
    grid-area: comment-button;
}

@media(max-width:540px) {
    #comments-form .comment-send button{
        line-height: 30px;
        height: 30px;
        padding: 0 20px;
    }    
}

#comments-form .comment-avatar{
    grid-area: comment-avatar;
}

#comments-form img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}

@media(max-width:540px) {
    #comments-form img{
        width: 60px;
        height: 60px;
    }
}

/* мала форма */
.comments-form{
    margin: 0 0 20px;
}
.comments-form form{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 60px auto;
    grid-gap: 10px;
    grid-template-areas: 
        'comment-avatar comment-textarea'
        'comment-avatar comment-button'
}

.comments-form textarea{
    width: 100%;
    resize: none;
    padding: 5px;
    min-height: 60px;
    grid-area: comment-textarea;
}

.comments-form .comment-send{
    grid-area: comment-button;
}

.comments-form .comment-send button{
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
}

@media(max-width:400px){
    .comments-form .comment-send button{
        line-height: 25px;
        height: 25px;
        font-weight: 600;
        padding: 0 5px;
    }
}

.comments-form .comment-avatar{
    grid-area: comment-avatar;
}

.comments-form img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}