
#footer{
    position: relative;
    background: var(--cyan);
    padding: 50px 0 50px;
    font-size: 13px;
    line-height: 1.2;
    color: var(--white);
}

#footer .wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

@media(max-width:540px){
    #footer .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:400px){
    #footer .wrapper{
        grid-template-columns: 1fr;
    }
}

#footer .title{
    color:var(--white);
    font-size: 17px;
    font-weight: 700;
    margin:0 0 20px;
}

#footer p{
    margin: 0 0 20px;
}

#footer ul,
#footer li{
    display: block;
}

#footer ul{
    margin: 0 0 20px;
}

#footer li a{
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    padding: 3px 0;
    display: block;
}

@media(max-width:776px) {
    #footer li a{
        padding: 12px 0;
    }    
}

#footer li a:hover{
    text-decoration: underline;
}

.footer-2-column{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px;
}

/* 10-11-21 */
#copyright
{
    display:flex;
    align-items:center;
    gap:5px;
    justify-content:center
}

#copyright a 
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--white);
}

#copyright span 
{
    margin-top: 3px
}