/* фіксований хедер */
#header{
    height: 70px;
    padding: 12px 0 0;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    background: url('../images/header.png') repeat;
}

/* 19-02-2021 */
#header .wrapper{
    display: grid;
    grid-template-columns: 200px 1fr 320px 100px;
}

@media(max-width: 1100px){
    #header .wrapper{
        grid-template-columns: 200px 1fr 100px;
    }
}

@media(max-width: 420px){
    #header .wrapper{
        grid-template-columns: auto 1fr 100px;
    }
}

#logo{
    width: 194px;
    height: 45px;
    display: block;
}

@media(max-width:420px){
    #logo{
        width: 110px;
        display: flex;
        align-items: center;
    }
}

#logo img{
    width: 100%!important;
}



/* кнопка + трек */
#radio{
    position: relative;
    text-align: center;
}

@media(max-width:776px){
    #radio{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


#online {
    padding: 3px 20px 3px 26px;
    background: var(--gold);
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: var(--black);
    line-height: 24px;
    position: relative;
    transition: .3s;
}

@media(max-width:776px){
    #online span{
        display: none;
    }
    #online{
        width: 24px;
        height: 24px;
        border-radius: 24px;
        padding: 5px;
    }
}

#online::before{
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: var(--cyan);
    position: absolute;
    left: 10px;
    top: 5px;
}

#online:hover{
    background: var(--cyan);
    text-decoration: none;
}

#online:hover::before{
    border-left-color: var(--gold);
}

#live{
    width: 320px;
    height: 14px;
    overflow: hidden;
    margin: auto;
}

@media(max-width:776px){
    #live{
        display: none;
    }
}

#live a{
    display: block;
    color: var(--black);
    text-decoration: none;
    letter-spacing: 1px;
}

#live a:hover{
    color: var(--black);
}

#live span{
    display: block;
    font-size: 12px;
    text-align: center;
}

#live span::before{
    content: '';
    width: 0;
    height: 0;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 4px 6px;
    border-color: transparent transparent transparent var(--gold);
    margin-right: 10px;
}

#live :hover span::before{
    border-color: transparent transparent transparent var(--cyan);
}

.to-up{
    transform: translateY(-14px);
}


/* іконки */
#nav--bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav--bar span{
    width: 20px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

#nav--bar svg{
    width: 100%;
    fill: var(--black);
    transition: .5s;
}

#nav--bar :hover svg{
    fill: var(--gold);
}

/* іконка меню тільки на мобільному */
#nav--bar #mobile-menu{
    display: none;
}

@media(max-width: 1100px){
    #nav--bar #mobile-menu {
        display: block;
    }
}