
.like{
    /* max-width: 40px; */
    text-align: center;
}

.like span,
.like p{
    cursor: pointer;
}

.like svg{
    width:30px;
    fill: var(--gold);
}

.like svg:hover{
    fill: var(--cyan);
}