
#loader{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 12;
    background: rgba(0,0,0,0.7);

    display: flex;
    align-items: center;
    justify-content: center;
}

#loader::before{
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: text-bottom;
    border: .25em solid var(--white);
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    to { 
        transform: rotate(360deg); 
    }
}

/* 3-03-2021 */

.loader-gold::before {
    content: '';
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: text-bottom;
    border: .25em solid var(--gold);
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}