
#nav{
    position: relative;
    padding: 0 0 0 20px;
}

#nav ul{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#nav ul li{
    display: inline-block;
    padding: 10px;
}

#nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 800;
    font-size: 14px;
}

#nav ul li:hover{
    background: var(--gold);
}

#nav ul li:hover a{
    color: var(--cyan);
}

/* випадачка */
#nav ul li div{
    display: none;
    position: absolute;
    left: 20px;
    padding-top: 10px;
}

#nav ul li div::before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid var(--gray);
}

/* вкладений блок */
#nav ul li:hover div{
    display: block;
}

#nav ul li div ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    background: linear-gradient(135deg, var(--gold) 0%, var(--gold) 65%, var(--yellow) 65%, var(--yellow) 100%);
}

#nav ul li div li{
    border-top: 1px solid var(--gray);
}

#nav ul li div a,
#nav ul li:hover div a{
    color: var(--gray);
    font-weight: 700;
    white-space: nowrap;
}

#nav ul li div li:hover{
    background: transparent;
}

#nav ul li div a:hover{
    color: var(--cyan);
}

/* соціальні кнопки*/
#nav .social{
    display: none;
}

/* кнопка закриття*/
#close{
    display: none;
}

#close svg{
    fill: var(--gray);
    width: 26px;
}

/* nav mobile */
@media(max-width: 1100px){
    #nav{
        position: fixed;
        top: 0;
        left: -320px;
        z-index: 10;
        height: 100vh;
        width: 320px;
        padding: 50px 20px 20px;
        background: var(--gray-dark);
        transform: translateX(0);
        transition: .5s;
    }

    #nav.active{
        left: 0;
    }

    #nav > ul{
        display: block;
        height: 100vh;
        overflow-y: scroll;
    }

    #nav ul li{
        display: block;
        padding: 0;
    }

    #nav ul li div{
        display: block;
        position: static;
        padding: 0;
    }

    #nav ul li:hover{
        background: transparent;
    }

    #nav ul li div::before{
        display: none;
    }

    #nav ul li div ul{
        display: block;
        background: transparent;
        padding: 0;
    }

    #nav ul li div li{
        border-top: none;
    }

    /* перший рівень */
    #nav ul li,
    #nav ul li:hover,
    #nav ul li a,
    #nav ul li a:hover{
        font-size: 22px;
        font-weight: 400;
    }
    
    #nav ul li a,
    #nav ul li a:hover{
        padding: 10px;
        text-transform: uppercase;
        color: var(--gray-light)!important;
        display: block;
    }

    /* вкладення */
    #nav ul div a{
        font-size: 14px;
        color: var(--gold)!important;
        font-weight: 400!important;
        text-decoration: none;
        transition: .5s;
    }
    
    #nav ul div a:hover{
        background: var(--blue);
        padding: 10px;
        font-size: 14px;
    }

    /* соцкнопки */
    #nav .social{
        display: block;
    }

    /* закриття */
    #close{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
        cursor: pointer;
    }

}