
#nav{
    position: relative;
    padding: 0 0 0 20px;
}

#nav ul{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#nav ul li{
    display: inline-block;
    padding: 10px;
}

#nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--black);
    font-weight: 800;
    font-size: 14px;
}

#nav ul li:hover{
    background: var(--gold);
}

#nav ul li:hover a{
    color: var(--cyan);
}

/* #nav a.green{
    color: var(--green);
} */

#nav .green > a{
    color: var(--green);
}

/* випадачка */
#nav .nav-wrap{
    display: none;
    position: absolute;
    left: 20px;
    padding-top: 10px;
    margin-top: 10px;
}

/* ширина залежно від кількості елементів */
/* 3 елементи */
.column-one{
    width: 200px;
}

/* 6 елементів */
.column-two{
    width: 400px;
}

/* 6 елементів (лайт) */
.column-two-lite{
    width: 300px;
}

#nav .nav-wrap::before{
    content: '';
    display: block;
    position: absolute;
    /* bottom: 20px; */
    bottom: 21px;
    left: 20px;
    right: 20px;
    height: 1px;
    background: var(--gray);
}

#nav .nav-wrap::after{
    content: '';
    display: block;
    position: absolute;
    /* top: 30px; */
    top: 32px;
    left: 20px;
    right: 20px;
    height: 1px;
    background: var(--gray);
}

/* вкладений блок */
#nav ul li:hover .nav-wrap{
    display: block;
    padding: 30px 20px;
    background: linear-gradient(135deg, var(--gold) 0%, var(--gold) 65%, var(--yellow) 65%, var(--yellow) 100%);
}

#nav .nav-wrap ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
        'nav-1 nav-4 nav-7'
        'nav-2 nav-5 nav-8'
        'nav-3 nav-6 nav-9';
    position: relative;
}

/* border */
#nav .nav-wrap ul::before{
    content: '';
    position: absolute;
    /* top: 45px; */
    top: 44px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gray);
    display: block;
}

#nav .nav-wrap ul::after{
    content: '';
    position: absolute;
    /* top: 90px; */
    top: 86px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gray);
    display: block;
}

#nav .nav-wrap li{
    position: relative;
    top: 5px;
	/* padding-bottom: 13px; */
}

#nav .nav-wrap li:nth-child(1){
    grid-area: nav-1;
}
#nav .nav-wrap li:nth-child(2){
    grid-area: nav-2;
}
#nav .nav-wrap li:nth-child(3){
    grid-area: nav-3;
}
#nav .nav-wrap li:nth-child(4){
    grid-area: nav-4;
}
#nav .nav-wrap li:nth-child(5){
    grid-area: nav-5;
}
#nav .nav-wrap li:nth-child(6){
    grid-area: nav-6;
}
#nav .nav-wrap li:nth-child(7){
    grid-area: nav-7;
}
#nav .nav-wrap li:nth-child(8){
    grid-area: nav-8;
}
#nav .nav-wrap li:nth-child(9){
    grid-area: nav-9;
}




#nav li .nav-wrap a,
#nav li:hover .nav-wrap a{
    /* color: var(--gray); */
    color: var(--black);
    font-weight: 700;
    white-space: nowrap;
}

#nav .nav-wrap li:hover{
    background: transparent;
}

#nav li .nav-wrap a:hover{
    color: var(--cyan);
}

/* соціальні кнопки*/
#nav .social{
    display: none;
}

/* кнопка закриття*/
#close{
    display: none;
}

#close svg{
    fill: var(--gray);
    width: 26px;
}

/* nav mobile */
@media(max-width: 1100px){
    #nav{
        position: fixed;
        top: 0;
        left: -320px;
        z-index: 10;
        height: 100vh;
        width: 320px;
        padding: 20px;
        background: var(--gray-dark);
        transform: translateX(0);
        transition: .5s;
    }

    #nav.active{
        left: 0;
    }

    #nav > ul{
        display: block;
        height: 90%;
        overflow-y: scroll;
    }

    #nav ul li{
        display: block;
        padding: 0;
    }

    #nav ul li .nav-wrap{
        display: block;
        position: static;
        padding: 0;
    }

    #nav ul li:hover,
    #nav ul li:hover .nav-wrap{
        background: transparent;
        padding: 0;
    }

    #nav ul li .nav-wrap::before{
        display: none;
    }

    #nav ul li .nav-wrap ul{
        display: block;
        background: transparent;
        padding: 0;
    }

    #nav ul li .nav-wrap li{
        border-top: none;
    }

    /* перший рівень */
    #nav ul li,
    #nav ul li:hover,
    #nav ul li a,
    #nav ul li a:hover{
        font-size: 22px;
        font-weight: 400;
    }
    
    #nav ul li a,
    #nav ul li a:hover{
        padding: 10px;
        text-transform: uppercase;
        color: var(--gray-light)!important;
        display: block;
    }

    /* вкладення */
    #nav ul .nav-wrap a{
        font-size: 14px;
        color: var(--gold)!important;
        font-weight: 400!important;
        text-decoration: none;
        transition: .5s;
    }
    
    #nav ul .nav-wrap a:hover{
        background: var(--blue);
        padding: 10px;
        font-size: 14px;
    }

    /* ширина залежно від кількості елементів */
    .column-one,
    .column-two,
    .column-two-lite{
        width: auto;
    }

    /* соцкнопки */
    #nav .social{
        display: block;
    }

    /* закриття */
    #close{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 11;
        cursor: pointer;
    }

    #nav .nav-wrap::before,
    #nav .nav-wrap::after,
    #nav .nav-wrap ul::before,
    #nav .nav-wrap ul::after{
        display: none;
    }

}