
.office{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin: 20px 0;
}

@media(max-width: 996px){
    .office{
        grid-template-columns: repeat(3,1fr);
    }
}

@media(max-width: 776px){
    .office{
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width: 420px){
    .office{
        grid-template-columns: 1fr;
    }
}

.office img{
    width: 100%!important;
    border-radius: 100%;
}

.office h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 30px;
}

@media(max-width:776px){
    .office h2{
        font-size: 18px;
        margin: 0 0 20px;
    }
}

.office h2 span{
    display: block;
    text-transform: uppercase;
}

.office p{
    margin: 0 0 20px;
    font-size: 14px;
}

.office h6{
    font-size: 14px;
    color: var(--gray);
    text-transform: uppercase;
}

.office ul,
.office li{
    display: block;
}

.office ul{
    margin: 0 0 20px;
}

.office li a{
    color: var(--cyan);
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
}

.office li a:hover{    
    text-decoration: underline;
}