
/* окрема сторінка */
#page{
    display: grid;
    grid-template-columns: 40px 1fr 300px;
    grid-gap: 28px;
}

@media(max-width:776px){
    #page{
        grid-template-columns: 1fr;
    }
}

/* основна шпальта */
/* #page-main{} */

/* картинки примусово на всю ширину */
#page-main img{
    width: 100%!important;
}

/* якщо адмін забув зробити абзацний відступ */
#page-main img + img{
    margin-top: 30px;
}

#page-main h1{
    font-weight: 800;
    font-size: 46px;
    line-height: 0.9;
    margin-bottom: 10px;
    color: var(--black)
}

@media(max-width:776px){
    #page-main h1{
        font-size: 32px;
        font-weight: 700;
    }
}

#page-main time{
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

#page-main time span{
    padding: 0 0 0 10px;
}

#page-main time span::before{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    position: relative;
    top:2px;
}

#page-main p{
    margin: 30px 0;
    font-size: 18px;
}


/* мітки */
.tags strong{
    display: block;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.tags{
    border-top: 2px solid var(--cyan);
    color: var(--cyan);
    font-size: 12px;
    margin: 20px 0;
    padding: 10px 0;
}

.tags a{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    text-decoration: none;
    background: var(--cyan);
    border-radius: 3px;
    padding: 2px 4px;
    margin: 0 2px 2px 0;
    transition: .5s;
}

.tags a:hover{
    background: var(--cyan-dark)
}



/* Читайте також */
.relative{
    margin: 30px 0;
}

.relative h6{
    text-transform: uppercase;
    margin: 0 0 30px;
    font-size: 18px;
}

.relative ul,
.relative li{
    display: block;
}

.relative a{
    font-size: 14px;
    padding-left: 30px;
    display: block;
    line-height: 1.2;
    position: relative;
    margin: 0 0 10px;
    text-decoration: none;
    transition: .5s;
}

.relative a::before{
    content: '';
    width: 6px;
    height: 6px;
    background: var(--gold);
    position: absolute;
    left: 0;
    top: 50%;
    /* display: block; */
    transition: .5s;
}

.relative a:hover{
    text-decoration: underline;
}

.relative a:hover::before{
    transform: scale(2)
}