
/* окрема сторінка */
#page{
    display: grid;
    grid-template-columns: 45px 1fr 300px;
    grid-gap: 30px;
    margin-top: 30px;

    grid-template-rows: auto;
    grid-template-areas:
        'sticky body aside'
        'ads-before ads aside';
}

@media(max-width:776px){
    #page{
        grid-template-columns: 1fr;

        grid-template-areas:
            'body'
            'ads'
            'unused'
            'aside'
            'sticky';
    }
}

/* блок для підваняження */
#load{
    padding: 0 330px 0 75px;
    margin: 20px 0;
}

@media(max-width:776px){
    #load{
        padding: 0;
    }
}

/* основна шпальта */
#page-main{
    grid-area: body;
}

#page-main,
#load{
    overflow: hidden;
}

/* картинки примусово на всю ширину */
#page-main img,
#load img{
    width: 100%!important;
}

/* якщо адмін забув зробити абзацний відступ */
#page-main img + img,
#load img + img{
    margin-top: 30px;
}

#page-main h1,
#load h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--black);
}

@media(max-width:776px){
    #page-main h1,
    #load h1{
        font-size: 32px;
        font-weight: 700;
        height: auto;
    }
}

#page-main time,
#load time{
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

#page-main time span,
#load time span{
    padding: 0 0 0 10px;
}

#page-main time span::before,
#load time span::before{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    position: relative;
    top:2px;
}

#page-main p,
#load p{
    margin: 30px 0;
    font-size: 18px;
}

@media(min-width: 1240px){
    #page-main p,
    #load p{
        font-size: 20px;
    }
}

/* обрізка картинки для відео з ютуба */
#page-main .video-link.video-open-popup {
    overflow: hidden;
}

#page-main .video-link.video-open-popup img {
    margin: -65px 0;
}


/* мітки */
.tags strong{
    display: block;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.tags{
    border-top: 2px solid var(--cyan);
    color: var(--cyan);
    font-size: 12px;
    margin: 20px 0;
    padding: 10px 0;
}

.tags a{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    text-decoration: none;
    background: var(--cyan);
    border-radius: 3px;
    padding: 2px 4px;
    margin: 0 2px 2px 0;
    transition: .5s;
}

.tags a:hover{
    background: var(--cyan-dark)
}

/* відступи */
#page-main ul,
#page-main ol,
#load ul,
#load ol{
    margin: 30px 0 30px 30px;
}

#page-main li,
#load li{
    margin: 20px 0;
    font-size: 20px;
}

#page-main ul li,
#load ul li{
    position: relative;
}

/* автор статті */
.post-autor{
    padding: 10px 0 10px 30px;
    position: relative;
    margin: 10px 0 0;
    border-top: 1px solid var(--gray-light);
}

.post-autor::before{
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
}

.post-autor strong{
    color: var(--black);
    display: block;
}

.figure-caption {
    display: block;
    color: var(--gray-dark);
    margin-top: 6px;
    font-size: 80%;
    font-style: italic;
}



#page #aside {
	grid-area: aside;
}

#page #ads {
    grid-area: ads;
}