
/* окрема сторінка */
#page{
    display: grid;
    grid-template-columns: 45px 1fr 300px;
    grid-gap: 30px;
    margin-top: 30px;

    grid-template-rows: auto;
    grid-template-areas:
        'sticky body aside'
        'ads-before ads aside';
}

@media(max-width:776px){
    #page{
        grid-template-columns: 1fr;

        grid-template-areas:
            'body'
            'ads'
            'unused'
            'aside'
            'sticky';
    }
}

/* блок для підваняження */
#load{
    padding: 0 330px 0 75px;
    margin: 20px 0;
}

@media(max-width:776px){
    #load{
        padding: 0;
    }
}

/* основна шпальта */
#page-main{
    grid-area: body;
}

#page-main,
#load{
    overflow: hidden;
}

/* картинки примусово на всю ширину */
#page-main img:not([data-emoticon]),
#load img:not([data-emoticon]){
    width: 100%!important;
}

/* якщо адмін забув зробити абзацний відступ */
#page-main img + img,
#load img + img{
    margin-top: 30px;
}

#page-main h1,
#load h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 10px;
    color: var(--black);
}

@media(max-width:776px){
    #page-main h1,
    #load h1{
        font-size: 32px;
        font-weight: 700;
        height: auto;
    }
}

#page-main time,
#load time{
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

#page-main time span,
#load time span{
    padding: 0 0 0 10px;
}

#page-main time span::before,
#load time span::before{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200zm61.8-104.4l-84.9-61.7c-3.1-2.3-4.9-5.9-4.9-9.7V116c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v141.7l66.8 48.6c5.4 3.9 6.5 11.4 2.6 16.8L334.6 349c-3.9 5.3-11.4 6.5-16.8 2.6z'/%3E%3C/svg%3E");
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
    position: relative;
    top:2px;
}

#page-main p,
#load p{
    margin: 30px 0;
    font-size: 18px;
}

@media(min-width: 1240px){
    #page-main p,
    #load p{
        font-size: 20px;
    }
}

/* обрізка картинки для відео з ютуба */
#page-main .video-block-image.video-open-popup, #page-main .video-link.video-open-popup {
    overflow: hidden;
}

#page-main .video-block-image.video-open-popup img, #page-main .video-link.video-open-popup img {
    margin: -65px 0;
}


/* мітки */
.tags strong{
    display: block;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.tags{
    border-top: 2px solid var(--cyan);
    color: var(--cyan);
    font-size: 12px;
    margin: 20px 0;
    padding: 10px 0;
}

.tags a{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--white);
    text-decoration: none;
    background: var(--cyan);
    border-radius: 3px;
    padding: 2px 4px;
    margin: 0 2px 2px 0;
    transition: .5s;
}

.tags a:hover{
    background: var(--cyan-dark)
}

/* відступи */
#page-main ul,
#page-main ol,
#load ul,
#load ol{
    margin: 30px 0 30px 30px;
}

#page-main li,
#load li{
    margin: 10px 0;
    font-size: 20px;
}

#page-main ul li,
#load ul li{
    position: relative;
}

/* автор статті */
.post-autor{
    padding: 10px 0 10px 30px;
    position: relative;
    margin: 10px 0 0;
    border-top: 1px solid var(--gray-light);
}

.post-autor::before{
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: calc(50% - 8px);
}

.post-autor strong{
    color: var(--black);
    display: block;
}

.figure-caption {
    display: block;
    color: var(--gray-dark);
    margin-top: 6px;
    font-size: 80%;
    font-style: italic;
}



#page #aside {
	grid-area: aside;
}

#page #ads {
    grid-area: ads;
}
.image-placeholder {
    width: 100%;
    position: relative;
    background-color: rgba(0,0,0,.1);
}

.image-placeholder img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.image-placeholder img.loaded {
    opacity: 1;
}

.file-embed {
    display: block;
    width: 50%;
    min-width: 300px;
    height: 200px;
    border: 1px solid var(--gray-light);
    position: relative;
    overflow: hidden;
    background-size: cover;
    margin: 0 auto;
}

.file-embed:before {
    position: absolute;
    content: attr(data-filename);
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gray-light);
    color: var(--gray);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 56 56' style='enable-background:new 0 0 56 56;' xml:space='preserve'%3E%3Cg%3E%3Cpath style='fill:%23E9E9E0;' d='M36.985,0H7.963C7.155,0,6.5,0.655,6.5,1.926V55c0,0.345,0.655,1,1.463,1h40.074 c0.808,0,1.463-0.655,1.463-1V12.978c0-0.696-0.093-0.92-0.257-1.085L37.607,0.257C37.442,0.093,37.218,0,36.985,0z'/%3E%3Cpolygon style='fill:%23D9D7CA;' points='37.5,0.151 37.5,12 49.349,12 '/%3E%3Cpath style='fill:%23CC4B4C;' d='M19.514,33.324L19.514,33.324c-0.348,0-0.682-0.113-0.967-0.326 c-1.041-0.781-1.181-1.65-1.115-2.242c0.182-1.628,2.195-3.332,5.985-5.068c1.504-3.296,2.935-7.357,3.788-10.75 c-0.998-2.172-1.968-4.99-1.261-6.643c0.248-0.579,0.557-1.023,1.134-1.215c0.228-0.076,0.804-0.172,1.016-0.172 c0.504,0,0.947,0.649,1.261,1.049c0.295,0.376,0.964,1.173-0.373,6.802c1.348,2.784,3.258,5.62,5.088,7.562 c1.311-0.237,2.439-0.358,3.358-0.358c1.566,0,2.515,0.365,2.902,1.117c0.32,0.622,0.189,1.349-0.39,2.16 c-0.557,0.779-1.325,1.191-2.22,1.191c-1.216,0-2.632-0.768-4.211-2.285c-2.837,0.593-6.15,1.651-8.828,2.822 c-0.836,1.774-1.637,3.203-2.383,4.251C21.273,32.654,20.389,33.324,19.514,33.324z M22.176,28.198 c-2.137,1.201-3.008,2.188-3.071,2.744c-0.01,0.092-0.037,0.334,0.431,0.692C19.685,31.587,20.555,31.19,22.176,28.198z M35.813,23.756c0.815,0.627,1.014,0.944,1.547,0.944c0.234,0,0.901-0.01,1.21-0.441c0.149-0.209,0.207-0.343,0.23-0.415 c-0.123-0.065-0.286-0.197-1.175-0.197C37.12,23.648,36.485,23.67,35.813,23.756z M28.343,17.174 c-0.715,2.474-1.659,5.145-2.674,7.564c2.09-0.811,4.362-1.519,6.496-2.02C30.815,21.15,29.466,19.192,28.343,17.174z M27.736,8.712c-0.098,0.033-1.33,1.757,0.096,3.216C28.781,9.813,27.779,8.698,27.736,8.712z'/%3E%3Cpath style='fill:%23CC4B4C;' d='M48.037,56H7.963C7.155,56,6.5,55.345,6.5,54.537V39h43v15.537C49.5,55.345,48.845,56,48.037,56z'/%3E%3Cg%3E%3Cpath style='fill:%23FFFFFF;' d='M17.385,53h-1.641V42.924h2.898c0.428,0,0.852,0.068,1.271,0.205 c0.419,0.137,0.795,0.342,1.128,0.615c0.333,0.273,0.602,0.604,0.807,0.991s0.308,0.822,0.308,1.306 c0,0.511-0.087,0.973-0.26,1.388c-0.173,0.415-0.415,0.764-0.725,1.046c-0.31,0.282-0.684,0.501-1.121,0.656 s-0.921,0.232-1.449,0.232h-1.217V53z M17.385,44.168v3.992h1.504c0.2,0,0.398-0.034,0.595-0.103 c0.196-0.068,0.376-0.18,0.54-0.335c0.164-0.155,0.296-0.371,0.396-0.649c0.1-0.278,0.15-0.622,0.15-1.032 c0-0.164-0.023-0.354-0.068-0.567c-0.046-0.214-0.139-0.419-0.28-0.615c-0.142-0.196-0.34-0.36-0.595-0.492 c-0.255-0.132-0.593-0.198-1.012-0.198H17.385z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M32.219,47.682c0,0.829-0.089,1.538-0.267,2.126s-0.403,1.08-0.677,1.477s-0.581,0.709-0.923,0.937 s-0.672,0.398-0.991,0.513c-0.319,0.114-0.611,0.187-0.875,0.219C28.222,52.984,28.026,53,27.898,53h-3.814V42.924h3.035 c0.848,0,1.593,0.135,2.235,0.403s1.176,0.627,1.6,1.073s0.74,0.955,0.95,1.524C32.114,46.494,32.219,47.08,32.219,47.682z M27.352,51.797c1.112,0,1.914-0.355,2.406-1.066s0.738-1.741,0.738-3.09c0-0.419-0.05-0.834-0.15-1.244 c-0.101-0.41-0.294-0.781-0.581-1.114s-0.677-0.602-1.169-0.807s-1.13-0.308-1.914-0.308h-0.957v7.629H27.352z'/%3E%3Cpath style='fill:%23FFFFFF;' d='M36.266,44.168v3.172h4.211v1.121h-4.211V53h-1.668V42.924H40.9v1.244H36.266z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 4px center;
    padding: 7px 10px 7px 35px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px
}

.file-embed:after {
    content: '';
    width: 30px;
    height: 30px;
    background-color: var(--red);
    position: absolute;
    right: -15px;
    bottom: -15px;
    transform: rotate(45deg);
    box-shadow: -7px 15px 0 3px rgba(0,0,0,.2)
}
