.placeholder {
    height: 320px;
    margin: 20px 0;
    background: url('../images/pattern.gif');
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

@media(max-width:776px) {
    .placeholder{
        height: 160px;
    }
}

.placeholder span{
    cursor: pointer;
    display: block;
    line-height: 50px;
    height: 50px;
    white-space: nowrap;
    color: var(--cyan-logo);
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 40px;
    background: var(--gold);
    border: 0;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

.placeholder span:hover {
    background: var(--white);
    text-decoration: none;
}

.placeholder p{
    color: var(--white);
    margin: 0 0 5px!important;
}