
/* вкладки у сайдбарі */
.post-tabs{}

/* кнопки */
.post-tabs-buttons{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1px;
}

.post-tabs-buttons span{
    border-radius: 5px;
    line-height: 50px;
    height: 50px;
    background: var(--gold);
    color: var(--black);

    font-weight: 800;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
}

.post-tabs-buttons span.active,
.post-tabs-buttons span.active:hover{
    background: var(--cyan);
    color: var(--gray-ultralight);

    height: 60px;
    line-height: 60px;
    margin-top: -5px;

}

/* дані */
.post-tabs-content{
    display: block;
    padding: 20px 0;
}

.post-tabs-content ul{
    display: none;
}

.post-tabs-content ul.active{
    display: block;
}

.post-tabs-content li{
    display: block;
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: 1px solid var(--blue-extralight);
}

.post-tabs-content a{
    display: grid;
    grid-template-columns: 60px 1fr;
    text-decoration: none;
}

.post-tabs-content a:hover{
    color: var(--cyan);
}

.post-tabs-content time{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: var(--cyan);
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    line-height: 1;
    /* text-decoration: none; */
}

.post-tabs-content time span{
    font-size: 14px;
}

.post-tabs-content p{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.post-tabs-content a:hover time{
    text-decoration: none;
    color: var(--blue);
}

.post-tabs-content a:hover p{
    /* text-decoration: underline; */
    color: var(--blue);
}
