
.questionnaire{
    border: 3px solid var(--gold);
    background: var(--yellow);
    padding: 40px 40px 0px 40px;
    display: block;
    margin-top: 30px;
    text-decoration: none;
    font-weight: 800;

    transition:.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.questionnaire::before{
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    right: 0;
    bottom: 0;
    left: -50%;
    z-index: 2;

    background: var(--gold-light);
    transform: rotate(140deg);
    transition: .25s;
}

.questionnaire:hover::before{
    top: -65%;
    left: -20%;
    background: var(--cyan);
}

@media(max-width:996px){

    .questionnaire::before{
        top: -60%;
        left: -75%;
    }
    
    .questionnaire:hover::before{
        top: -50%;
        left: -120%;
    }
}

.questionnaire p{
    position: relative;
    z-index: 2;
    
    font-size: 20px;
    line-height: 1.2;
    color: var(--cyan);
}

.questionnaire span{
    background: var(--gold);
    line-height: 50px;
    height: 50px;
    padding: 0;
    margin-top: 40px;
    text-align: center;
    display: block;
    font-size: 16px;
    position: relative;
    z-index: 2;
}

.questionnaire:hover {
    /* background-color: var(--cyan); */
    background-color: var(--blue-light);
    border-color: var(--blue);
    text-decoration: none;
}

.questionnaire:hover p{
    color: var(--gold-light);
}

.questionnaire:hover span {
      background-color: var(--blue);
      color: var(--white);
}