
/* гарячий допис */
.region-hot{
    margin: -30px 0 0;
    min-height: 420px;
    background: linear-gradient(120deg, var(--gold) 0%, var(--gold) 14%, var(--cyan) 14%, var(--cyan) 19%, var(--blue) 19%, var(--blue) 94%, var(--yellow) 94%, var(--yellow) 100%);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
    padding: 30px;
}

@media(max-width: 776px){
    .region-hot{
        grid-template-columns: 1fr;
    }
}

.region-hot a{
    text-decoration: none;
    color: var(--white);
}

.region-hot a:hover{
    text-decoration: underline;
}

.region-hot h1{
    margin: 0 0 30px;
    font-size: 38px;
}

@media(max-width:540px){
    .region-hot h1{
        font-size: 24px
    }
}

/**/
.region{
    display: grid;
    grid-template-columns: 1fr 302px;
    grid-gap: 30px;
    margin: 20px 0;
}

@media(max-width:776px){
    .region{

    }
}

.region article{
    display: grid;
    grid-template-columns: 180px 1fr;
}

.region article img{
    width: 160px;
}