
/* гарячий допис */
.region-hot{
    margin: -30px 0 0;
    min-height: 420px;
    /* background: 
        linear-gradient(120deg, 
            var(--gold) 0%, 
            var(--gold) 14%, 
            var(--cyan) 14%, 
            var(--cyan) 19%, 
            var(--blue) 19%, 
            var(--blue) 94%, 
            var(--yellow) 94%, 
            var(--yellow) 100%); */

    background: 
        linear-gradient(120deg, 
            var(--gold) 0%, 
            var(--gold) 14%, 
            var(--cyan-dark) 14%, 
            var(--cyan-dark) 19%, 
            var(--cyan) 19%, 
            var(--cyan) 94%, 
            var(--yellow) 94%, 
            var(--yellow) 100%);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    align-items: center;
    padding: 30px;
}

@media(max-width: 776px){
    .region-hot{
        grid-template-columns: 1fr;
    }
}

.region-hot a{
    text-decoration: none;
    color: var(--white);
}

.region-hot a:hover{
    text-decoration: underline;
}

.region-hot h1{
    margin: 0 0 30px;
    font-size: 38px;
}

@media(max-width:540px){
    .region-hot h1{
        font-size: 24px
    }
}

/**/
.region{
    display: grid;
    grid-template-columns: 1fr 302px;
    grid-gap: 30px;
    margin: 20px 0;
}

@media(max-width:776px){
    .region{
        grid-template-columns: 1fr;
    }
}

.region article
{
    margin: 0 0 30px;

    display: grid;
    grid-template-columns: 180px 1fr;

    grid-template-rows: 1fr repeat(2,auto);
    grid-gap: 0 20px;
    grid-template-areas: 
        'region-a region-h1'
        'region-a region-time'
        'region-a region-p'
}

@media(max-width:400px)
{
    .region article
    {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 0;
        grid-template-areas: 
            'region-a'
            'region-h1'
            'region-time'
            'region-p'
    }
}

.region article > a
{
    grid-area: region-a;
}

@media(max-width: 400px)
{
    .region article > a
    {
        display: block;
        margin: 0 0 20px;
    }
}

.region article img
{
    width:100%;
}

.region article h1
{
    grid-area: region-h1;

    font-weight: 700;
    font-size: 18px;
    margin: 0 0 20px;
}

.region article h1 a
{
    text-decoration: none;
    color: var(--black)
}

.region article h1 a:hover
{
    text-decoration: underline;
}

.region article time
{
    grid-area: region-time;

    display: block;
    color: var(--blue);
    text-transform: uppercase;
    font-size: 12px;
}

.region article time span
{
    font-weight: 700;
}

/* короткий анонс */
.region article p
{
    grid-area: region-p;
}

.region article p a
{
    font-size: 14px;
    color: var(--black);
    text-decoration: none;
}