@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    padding: 70px 0 0;
    font-family: 'Open Sans', sans-serif;
}

img{
    vertical-align: bottom;
}

:root{
    --black: #000;
    --gray-dark: #222;
    --gray-light: #ddd;
    --gold: #ffcc00;
    --blue: #0099ff;
    --cyan: #005baa;
    --cyan-dark: #004888;
    --white: #fff;
}

.container{
    width:1280px;
    margin:auto;
}

@media(max-width:1300px){
    .container{
        width: 95%;
    }
}

a{
    color:var(--cyan);
}

a:hover{
    text-decoration: underline;
    color: var(--gold);
}