
/* результати пошуку */
#search-result{}

#search-query{
    font-size: 32px;
    border-bottom: 2px solid var(--gold);
    padding-left: 215px;
    font-weight: 800;
}

@media(max-width:540px){
    #search-query{
        padding-left: 0;
    }
}

#search-query input{
    font-size: 32px;
    border: none;
    outline: none;
    font-weight: 800;
    width: 100%;
}

#search-quantity{
    margin: 0 0 30px;
    padding-left: 215px;
    font-size: 15px;
}

@media(max-width:540px){
    #search-quantity{
        padding: 0;
    }
}

#search-result ul{
    display: block;
    padding: 0 30px;
}

@media(max-width:540px){
    #search-result ul{
        padding: 0;
    }
}

#search-result li{
    display: grid;
    grid-template-columns: 185px 1fr;
    margin-bottom: 30px;
}

@media(max-width: 540px){
    #search-result li{
        grid-template-columns: 1fr;
    }
}

#search-result li a{
    display: block;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 20px;
    text-decoration: none;
    color:var(--black);
    line-height: 1.1;
}

#search-result li a:hover{
    text-decoration: underline;
}

/* примусові розміри картинки */
#search-result li img{
    width: 150px;
    height: 100px;
    object-fit: cover;
}

/* на мобілці -- на всю ширину */
@media(max-width: 540px){
    #search-result li img{
        width: 100%;
        height: auto;
    }
}

#search-result li time{
    display: block;
    font-size: 14px;
    color: var(--blue);
    text-transform: uppercase;
}

#search-result li p{
    font-size: 14px;
}

/* заглушка */
.search-placeholder{
    display: inline-block;
    width: 150px;
    height: 100px;
    background: url('../images/search-placeholder.png');
    background-size: cover;
}

@media(max-width:540px){
    .search-placeholder{
        display: block;
        margin: auto;
    }
}

/* невдалий результат пошуку */
#search-result-false
{
    margin: 30px 0;
}

#search-result-false h1
{
    font-size: 32px;
    margin: 0 0 20px;
}

/* підказка */
#search-result-false h2
{
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 20px;
}

#search-result-false ul
{
    margin: 30px 0 30px 30px;
}

#search-result-false #search-query
{
    padding-left: 10px;
    border: 2px solid var(--gold);
}

@media(max-width:400px)
{
    #search-result-false #search-query
    {
        font-size: 20px;
        padding: 10px;
    }

    #search-result-false #search-query input
    {
        font-size: 20px;
        color: var(--gray);
    }    
}