
.slider{
    position: relative;
}

.slider-wrapper{
    overflow: hidden;
}

.slider ul{
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,100%);
    left: -100%;
}

.slider li{
    display: block;
}

.slider img{
    width: 100%!important;
}

/* навігація */
.slider-to-left,
.slider-to-right{
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 3;
    top: 50%;
    margin-top: -20px;
    background: var(--gold);
    cursor: pointer;
}

.slider-to-left{
    left: 0;
}

.slider-to-left::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid var(--cyan);
    position: absolute;
    left: 15px;
    top: 10px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transform: rotate(-135deg);
    transition: .3s;
}

.slider-to-left:hover::before{
    border-width: 3px;
    top: 8px;
}

.slider-to-right{
    right: 0;
}

.slider-to-right::before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid var(--cyan);
    position: absolute;
    right: 15px;
    top: 10px;
    border-left-color: transparent;
    border-bottom-color: transparent;
    transition: .3s;
    transform: rotate(45deg);
}

.slider-to-right:hover::before{
    border-width: 3px;
    top: 8px;
}

/* класи для анімації та руху */
.to-left {
    transform: translateX(100%);
}

.to-right {
    transform: translateX(-100%);
}
