
/* social icons */
.social{
    margin: 0 0 30px;
}

.social a{
    display: inline-block;
    margin: 0 5px;
}

.social a svg{
    width: 20px;
    fill: var(--white);
}

.social a:hover svg{
    fill: var(--gold);
}