
/* приклеєний лівий сайдбар */
#sticky{
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    grid-area: sticky;
}

/*///////
шарбатони
///////*/
.like{
    text-align: center;
    margin-left: 11px;
    position: sticky;
    top: 70px;
    margin-bottom: 380px;
}

@media(max-width:776px){
    .like{
        display: none;
    }
}

.like span,
.like p{
    cursor: pointer;
}

.like svg{
    width:30px;
    fill: var(--gold);
}

.like svg:hover{
    fill: var(--cyan);
}

/* фіксована кнопка на мобільному */
#like-mobile{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 2;
    width: 50px;
    height: 50px;
    padding: 3px;
    background: var(--gold-logo);
    border: 2px solid var(--cyan-logo);
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width:776px){
    #like-mobile{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#like-mobile svg{
    width: 22px;
    height: 22px;
}

/*//////
смайлики
//////*/
#smile{
    text-align: center;
    padding: 20px 0 180px;
    position: sticky;
}

@media(max-width:776px){
    #smile{
        position: fixed;
        bottom: 15px;
        right: -300px;
        z-index: 5;
        margin: 0;
        top: auto!important;
        transition: .5s;
        transform: translateX(0);

        display: flex;
        align-items: center;
        justify-content: space-around;

        max-width: 290px;
        height: 60px;
        border-radius: 15px;
        padding: 10px 20px 10px 10px;
        margin: 0;
        background: var(--white);
        box-shadow: 0 0 10px rgba(0,0,0,.5);        
    }
}

@media(max-width:450px){
    #smile{
        bottom: 75px;
        transition: .5s;
    }
}

#smile.modal{
    transform: translateX(-390px);
    top: auto!important;
}

@media(max-width:450px){
    #smile.modal{
        transform: translateX(-320px);
    }
}

#smile a{
    text-decoration: none;
    padding: 5px 0;
    transition: .5s;
    display: block;
    margin-left: 11px;
    position: relative;
    margin: 0 0 12px;
    height: 26px;
    width: 26px;
}

@media(max-width:776px){
    #smile a{
        color: var(--gray);
        position: relative;
        padding: 10px 25px;
        margin: 0;
    }
}

#smile a.selected {
    border-color: var(--gold-dark)
}

#smile span{
    position: absolute;
    top: 15px;
    right: -30px;
    background: var(--white);
    color: var(--cyan-dark);
    border: 1px solid var(--cyan-dark);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:776px) {
    #smile span{
        position: absolute;
        top: -10px;
        right: 0;
    }
}

#smile-mobile{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: var(--gold-logo);
    border: 2px solid var(--cyan-logo);
    border-radius: 50%;
    cursor: pointer;
}

@media(max-width:776px){
    #smile-mobile{
        display: block;
        -webkit-tap-highlight-color: transparent;
    }
}

/* додаткова обгортка для модалки */
.wrapper-modal{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 2;
    display: none;
}

.wrapper-modal.show{
    display: block;
}

/*////////////
правий сайдбар
////////////*/
.sticked{
    position: sticky;
    top: 70px;
}