
/* tmp */
@import url('./ad.css');

@import url('./root.css');
@import url('./header.css');

/* меню */
@import url('./nav.css');

@import url('./social.css');

/* кнопки */
@import url('./button.css');

/* загальна обгортка */
@import url('./wrapper.css');

/* плеєр */
@import url('./player.css');

/* розклад */
@import url('./week.css');
@import url('./timeline.css');

/* пошук */
@import url('./search.css');

/* окрема сторінка */
@import url('./page.css');

/* вкладки */
@import url('./post-tabs.css');

/* кнопки шарингу */
@import url('./like.css');

/* усі анонси */
@import url('./articles.css');

/* підзаголовки */
@import url('./title.css');

@import url('./top--news.css');
@import url('./hot--news.css');

@import url('./category--news.css');
@import url('./category--hot.css');
@import url('./news.css');
@import url('./office.css');
@import url('./contact.css');
@import url('./region.css');
@import url('./project-slider.css');
@import url('./projects.css');
@import url('./blank.css');

/* не актуально */
/* @import url('./votes--old.css'); */

/* решта новин */
@import url('./outher--news.css');

/* відео-анонси */
@import url('./videos.css');

/* голосування */ /* не актуально */
/* @import url('./vote.css'); */

/* окремий допис */
@import url('./post.css');

/* оголошення */
@import url('./notice.css');

/* сторінка з оголошеннями */
@import url('./notices.css');

/* посторінкова навігація */
@import url('./pagination.css');

@import url('./footer.css');

/* лоадер */
@import url('./loader.css');