
.title{
    color: var(--blue);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.title a{
    color: var(--blue);
    text-decoration: none;
}

.title-big{
    font-weight: 800;
    color: var(--gold);
    font-size: 48px;
    margin: 40px 0;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
}