
/* для сторінки "публікація" */
#article .wrapper{
    width: 1070px;
}

@media(max-width: 1120px){
    #article .wrapper{
        width: 95%;
    }    
}

/* основна шпальта */
.wrapper{
    width: 1280px;
    margin: auto;
}

@media(max-width:1300px){
    .wrapper{
        width:95%;
    }
}